<ActionBar title="My Profile">
  <NavigationButton visibility="collapsed"></NavigationButton>
  <ActionItem ios.position="right">
    <GridLayout width="100">
      <button
        text="Log Out"
        (tap)="logout()"
        style="background-color: grey; color: white; height: 40px; text-align: center;"
      ></button>
    </GridLayout>
  </ActionItem>
</ActionBar>

<StackLayout>
  <StackLayout>
    <Label [text]="'Name: ' + userDetail.fullname"></Label>

    <Label [text]="'Email: ' + userDetail.email"></Label>
    <Label [text]="'Password: *********** '"></Label>
    <Label [text]="'Address: ' + userDetail.address"></Label>
    <Label [text]="'City: ' + userDetail.city"></Label>

    <Label [text]="'Zipcode: ' + userDetail.zipcode"></Label>

    <Label [text]="'Phone: ' + userDetail.phone"></Label>

    <button
      style="background-color: #39A2DB;color: white"
      text="Edit"
      (tap)="onEdit()"
    ></button>
  </StackLayout>
</StackLayout>
