<ActionBar title="Add New Post">
  <NavigationButton visibility="collapsed"></NavigationButton>
</ActionBar>

<StackLayout style="width: 500px; margin-top: 50px;" class="form">
  <StackLayout class="input-field">
    <FlexboxLayout flexDirection="row">
      <Label text="Type: "></Label>

      <DropDown
        #dd
        itemsTextAlignment="center"
        [items]="items"
        [(ngModel)]="selectedIndex"
        (selectedIndexChanged)="onchange($event)"
        (opened)="onopen()"
        (closed)="onclose()"
        style="width: 100;background-color:#39A2DB;color: white; text-align: center;"
      ></DropDown
    ></FlexboxLayout>

    <TextView
      required
      #content
      hint="Type Your Post Here..."
      class="input"
    ></TextView>
    <TextField required #city hint="City" class="input"></TextField>
    <TextField required #state hint="State" class="input"></TextField>
  </StackLayout>

  <Button
    style="background-color: #39A2DB;color: white"
    text="Add"
    class="btn btn-primary"
    (tap)="onSubmit(content.text, city.text, state.text)"
  ></Button>
</StackLayout>
